html{
  scroll-behavior: smooth;
}

/*Anasayfa*/
.anasayfa-hakkimda {
  background-color: #3C486B;
  color: white;
  border-radius: 1rem;
}

p {
  text-indent: 1rem;
  font-size: 1.1rem;
}
footer a:hover{
background-color: #F0DE36;
}
hr.hretiketim {
  border-top: 3px dotted red;
}
.egitimbilgileri-baslik{
  background-color: #3C486B;
  flex: 0 0 100%; /* boşluğu yatay bir şekilde tamamen doldur. */
  border-radius: 10px;
}

 	/* Mustafa Yakın */
   .logincss {
       margin: 0;
       padding: 0;
       height: 100%;
       background: #F0DE36 !important;
   }
   .user_card {
       height: 400px;
       width: 350px;
       margin-top: auto;
       margin-bottom: auto;
       background: #3C486B;
       position: relative;
       display: flex;
       justify-content: center;
       flex-direction: column;
       padding: 10px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 5px;

   }
   .brand_logo_container {
       position: absolute;
       height: 170px;
       width: 170px;
       top: -75px;
       border-radius: 50%;
       background: #c0392b;
       padding: 10px;
       text-align: center;
   }
   .brand_logo {
       height: 150px;
       width: 150px;
       border-radius: 50%;
       border: 2px solid white;
   }
   .form_container {
       margin-top: 100px;
   }
   .login_btn {
       width: 100%;
       background: #c0392b !important;
       color: white !important;
   }
   .login_btn:focus {
       box-shadow: none !important;
       outline: 0px !important;
   }
   .login_container {
       padding: 0 2rem;
   }
   .input-group-text {
       background: #c0392b !important;
       color: white !important;
       border: 0 !important;
       border-radius: 0.25rem 0 0 0.25rem !important;
   }
   .input_user,
   .input_pass:focus {
       box-shadow: none !important;
       outline: 0px !important;
   }
   .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
       background-color: #c0392b !important;
   }
   .loginyazisicss{
    text-indent: 0rem;
    position: relative;
    display: flex;
    justify-content: center;
   }
   .sehrim-arkaplan{
    background-color: #3C486B;
    flex: 0 0 100%; /* yatay şekilde full doldur */
    border-radius: 10px;
  }
  .samsunspor-link {
    color: #fff;
    background-color: #dc3545;
    margin: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
    border-radius: 1rem;
}

#samsunsporhak:hover{
    background-color: white;
    color: red;
    font-weight: bold;
}
#yukariBtn {
    /* default olarak hidden verilmiş bir kod ama açtım. */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    font-weight: bold;
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #yukariBtn:hover {
    background-color: white; /* Add a dark-grey background on hover */
    color:red;
    font-weight: bold;
    transition-duration: 0.2s;
  }

  .ilgialanimbutton{
    background-color: #dc3545;
    color:white;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 15px;
    transition-duration: 0.4s;
    padding: 5px 12px;
  }
  .ilgialanimbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: #dc3545;
  }

  .ilgialanimtext {
    padding: 5px 12px;
    color:#dc3545;
    font-weight: bold;
    border-radius: 5px;
    border : 2px solid #dc3545;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*  YAZILAMADI
    background-image: url('img/araicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    */
  }

  .ilgialanimtext:focus{
    background-color: lightblue;
  }
/*İletişim sayfası css kodları*/
  .iletisimbody{
    background-color: #F0DE36; ;
  }
  .contact{
		padding: 4%;
		height: 400px;
	}

  .colon1{
    background: #25274d;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
  }

  .contact-info{
		margin-top:10%;
    color:white
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}

  .colon2{
    background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
  }

  .contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
  
  #apiresim{
    max-height: 750px;
  }

  .ilgicard{
    background: #25274d;
    color:white;
    border-radius: 5px;
  }

  .datecss{
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
  }